* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 3% 15%;
}

.logo {
  width: 150px;
}

.navbar {
  position: absolute;
  margin: 3%;
  width: 85%;
}

.navbar-nav {
  margin-left: 65%;
}

.nav-link {
  margin: 15px;
  font-family: Gotham;
  letter-spacing: 4px;
  font-size: 1.3rem;
  color: #fff;
}

.nav-link:hover {
  color: #208b73;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.toprec {
  width: 100%;
}

hr {
  border: dotted 7px #208b73;
  width: 7%;
  margin: 10% auto;
  border-bottom: none;
}

h1 {
  font-size: 4rem;
  font-family: Gotham;
  color: #175f4c;
  text-align: center;
  letter-spacing: 7px;
  margin-bottom: 7%;
}

.p-about {
  width: 50%;
  text-align: center;
  margin: 5% auto;
  font-size: 2rem;
  line-height: 2.5;
  color: #208b73;
}

.skills-section {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-pics {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 7%;
}

#testimonials {
  text-align: center;
}

.img-portfolio {
  margin: 0 auto;
  width: 75%;
}

.carousel-item {
  padding: 7% 15%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #208b73;
}

form {
  margin: 0 auto;
  width: 80%;
  padding-left: 25%;
}

.labels {
  margin: 0 auto;
  width: 50%;
}

.inputs {
  margin: 0 auto;
  width: 50%;
}

textarea {
  margin-top: -4%;
  width: 40%;
  height: 25%;
  margin-left: 49%;
}

.secrow {
  width: 100%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email-label {
  margin-left: 25%;
  margin-top: 2%;
  margin-bottom: 1%;
}

input[type="email"] {
  margin-left: 25%;
}

input[type="text"] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input[type="text"],
input[type="email"] {
  width: 250px;
  height: 50px;
}

textarea,
input[type="text"],
input[type="email"] {
  background-color: #208b73;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  resize: none;
  outline: none;
}

.wide-label {
  font-size: 20px;
  width: 35%;
  color: #175f4c;
}

::-webkit-input-placeholder {
  font-family: Gotham, TheSansArabic;
  font-size: 12px;
  color: white;
}

:-ms-input-placeholder {
  font-family: Gotham, TheSansArabic;
  font-size: 12px;
  color: white;
}

::-ms-input-placeholder {
  font-family: Gotham, TheSansArabic;
  font-size: 12px;
  color: white;
}

::placeholder {
  font-family: Gotham, TheSansArabic;
  font-size: 12px;
  color: white;
}

.ln {
  margin-left: 10%;
}

.last-name {
  margin-left: 18.7%;
}

.btn-outline-success {
  color: #208b73;
  border-color: #175f4c;
}

.btn-outline-success:hover {
  border-color: #175f4c;
  background-color: #208b73;
}

.btnn {
  position: absolute;
  margin-left: 57%;
  margin-top: -5.5%;
}

#footer {
  margin-top: 15%;
}

.footerlogo {
  position: absolute;
  width: 8%;
  margin: 16% 5% 2% 5%;
}

.botrec {
  width: 100%;
}

.icons {
  text-align: center;
  width: 50%;
  height: 10%;
  margin: 12% auto auto 25%;
  position: absolute;
}

i {
  margin: 50px;
  color: #fff;
  font-size: 30px;
}

.pfooter {
  position: absolute;
  color: #fff;
  margin: 22% 0 0 41%;
}
/*# sourceMappingURL=style.css.map */